# Neovim
# Ignore swap files, backup files, and undo files
*.swp
*.swo
*.swpx
*.bak
*.save
*.undo

# Packer compiled and install files
packer_compiled.lua
packer.nvim.log

# Other potential files/directories you might want to ignore
# Temp or cache files
*.tmp
*.log
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# If you're using a local init.vim or ginit.vim for testing
init.vim.local
ginit.vim.local
